body{
    /* background-color: #94D2BD; */
    background-color: #2A2631;
    
}

.wrapper {
    height: calc(100vh - 120px);
    width: 100%;
  }

  .overlay {
    background: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    height: 100%;
    z-index: 2;
  }
button{
    font-size: 25px;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0.2px;
    text-transform: none;
    cursor: pointer;
    background-color:#ff007f;
    padding: 7px 12px;
    border-radius: 25px;
}
#button{
    margin-top: calc(100vh - 50%);

}


.row{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.copyright p{
  color: white;
}

